.article-about {
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 70%;
  min-width: 180px;
  max-width: 450px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title .label {
  font-size: 1.5rem;
  color: #f00;
}

.title .img {
  width: fit-content;
}

.article-about .p {
  margin: 10px;
}
