:root {
  --height-title: 100px;
  --height-footer: 30px;
}

.chat-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--height-title);
  padding: 5px;
}

.chat .section {
  border: 1px solid #fff;
}

.chat-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  place-content: flex-end center;
  align-items: center;

  height: 100%;
}

.title-username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.chat-title-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.chat-title-buttons .button {
  width: 80px;
}

.section.chat {
  display: flex;
  height: calc(100vh - var(--height-title) - var(--height-footer));
}

.write-section {
  display: flex;
  align-items: center;
}

.write-section .textarea {
  flex-grow: 1;
}

.user-section {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.divider {
  cursor: col-resize;
  width: 3px;
  background: #aaa;
}

.users-list {
  width: 100%;
  height: 100%;
}

.users-list option {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.option-active {
  color: green;
}

.option-active::before {
  content: '• ';
}

.option-inactive {
  color: red;
}

.option-inactive::before {
  content: '• ';
}

.chat-section {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: var(--height-footer);
}
